{% extends 'layouts/base.html' %}

{% block content %}
    <div class="content-wrapper">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                            <a href="/medicineunit/create" class="btn btn-success float-right m-2">Add</a>
                    </div>
                    <div class="card w-100">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">unit_name</th>
                                        <th scope="col">manament</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for t in get_medicineunit %}
                                        <tr>

                                            <th scope="row">{{t.id}}</th>
                                            <td>{{t.unit_name}}</td>

                                            <td>
                                                    <a href="/medicineunit/update/{{t.id}}"
                                                        class="btn btn-warning">Edit</a>
                                                    <a href="/medicineunit/delete/{{t.id}}"
                                                        class="btn btn-danger">Delete</a>
                                            </td>

                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}